
$so_focus_orange : #ffb266;
$solar_purple : #4B317C;

.color-so-focus-orange{
  color: $so_focus_orange;
}

.color-solar-purple{
  color: $solar_purple;
}

.bg-so-focus-orange{
  background-color: $so_focus_orange;
}

.bg-solar-purple{
  background-color: $solar_purple;
}